.TModalWrapper {
  margin: auto;
  border: none;
  background-color: transparent;
  outline: none;

  &::backdrop {
    background-color: hsl(0 0 0 / 0.5);
  }
}

dialog.TModalWrapper {
  display: none;
  opacity: 0;
  transition-property: overlay, display, opacity;
  transition-duration: 200ms;
  transition-behavior: allow-discrete;

  &::backdrop {
    animation: TModal-fade-out 200ms;
  }
}

dialog[open].TModalWrapper {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }

  &::backdrop {
    animation: TModal-fade-in 200ms;
  }
}

@keyframes TModal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes TModal-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.TModal {
  font: inherit;
  max-width: min(50ch, 90vw);
  border-radius: 16px;
  background-color: #fff;
  color: #000;
}

.TModalCloseButton {
  margin: 1em;
  padding: 0.1em;
  float: left;
  opacity: 0.75;
  font-size: 0.8em;
}

.TModalHeader {
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em 1.5em 0.5em 2.5em;
  text-wrap: nowrap;
}

.TModalBody {
  padding: 1em 1.5em;
  padding-top: 0;
}
