.t-textfield[leading-char] {
  position: relative;
  width: fit-content;
  
  & > input {
    padding-inline-end: 2.5ch;
  }

  &::before {
    content: attr(leading-char);
    position: absolute;
    inset-inline-end: 0.5ch;
    top: 50%;
    translate: 0 -50%;
    line-height: 0;
  }
}

.t-textfield > input:user-invalid {
  --outline-color: hsl(0 90 50);
  --outline-width: 2px;
}
