.t-switch {
  display: flex;
  width: fit-content;
  border-radius: var(--switch-border-radius, 5px);

  /* TODO problem with active */
  &:focus-within {
    --outline-width: 2px;
    outline: solid hsl(from var(--bg-secondary) h s calc(l * 0.8));
    outline-width: var(--outline-width);
    outline-offset: calc(-1 * var(--outline-width));
  }
}

.t-switch > label {
  cursor: pointer;
  padding: 0.25em 0.5em;
  background-color: var(--switch-bg, #fff);
  transition: background-color 150ms;
  text-align: center;
  flex-grow: 1;

  &:first-of-type {
    border-start-start-radius: var(--switch-border-radius, 5px);
    border-end-start-radius: var(--switch-border-radius, 5px);
  }

  &:last-of-type {
    border-start-end-radius: var(--switch-border-radius, 5px);
    border-end-end-radius: var(--switch-border-radius, 5px);
  }

  &:not(:last-of-type) {
    border-inline-end: solid 2px
      hsl(from var(--switch-bg, #fff) h s calc(0.8 * l));
  }

  &:hover {
    background-color: hsl(from var(--switch-bg, #fff) h s calc(0.95 * l));
  }
}

.t-switch > input {
  /* cannot use tab navigation with display / appearance: none */
  width: 0;

  &:checked + label {
    background-color: hsl(from var(--switch-bg, #fff) h s calc(0.8 * l));
  }
}
