.stop-wrapper {
  background-color: var(--bg-contrast);
  border-radius: 5px;
  /* --stop-padding: 0.5em; */
}

.stop-header {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  border-bottom: solid 1px var(--border-color);
  & > svg {
    font-size: 1.5em;
  }
}

.stop-description {
  & > p:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: 0.2em;
  }

  & > p:nth-of-type(2) {
    font-size: var(--fs-sm);
    color: var(--txt-secondary);
  }
}

.stop-routes {
  padding: 0.5em;
  & > :not(:last-child) {
    padding-bottom: 0.5em;
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 0.5em;
  }
}

.stop-route {
  display: flex;
  align-items: center;
  gap: 0.5em;

  & > :nth-child(2) {
    margin-inline-end: auto;
  }
}

.route-icon {
  --highlight-height: 0.3em;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  border: solid 1px var(--border-color);
  padding-bottom: var(--highlight-height);
  background-image: linear-gradient(
    to top,
    var(--highlight) var(--highlight-height),
    transparent var(--highlight-height)
  );
}

.head-to {
  white-space: nowrap;
}

.arrivals {
  direction: ltr;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
}

.arrival-item {
  --highlight: color-mix(in lab, hsl(120deg 100% 50%) 70%, currentColor 30%);
  padding: 0.2em 0.4em;

  &::after {
    content: "\f017";
    font-weight: 400;
    font-family: FontAwesome;
    font-size: 0.9em;
    margin-inline-start: 0.4em;
  }

  &[time-type="real"] {
    color: var(--highlight);
    &::after {
      content: "\f09e";
      font-weight: 900;
    }
  }

  &:nth-child(1) {
    grid-row: 1 / -1;
    align-self: center;
    border-radius: 3px;
    border: solid 1px var(--border-color);
    margin-right: 0.2em;
  }
  &:nth-child(n + 2) {
    font-size: var(--fs-xs);
    align-self: flex-end;
    padding: 0.1em 0.4em;
  }
}
