.searchbar-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  gap: 1ch;
}

.map-button {
  border: solid 1px var(--border-color);
  background-color: var(--bg-primary);
  --bg-to-hover: var(--bg-primary);
}

.autocomplete-wrapper {
  position: relative;
  flex-grow: 1;

  &::after {
    content: "\f002";
    font-weight: 900;
    font-family: FontAwesome;
    font-size: 0.9em;
    color: var(--txt-secondary);
    position: absolute;
    left: 0.5em;
    top: 50%;
    translate: 0 -50%;
  }
}

.searchbar {
  width: 100%;
  padding: 0.25em 0.5em;
  padding-left: 2em;
  border-radius: 5px;
  background-color: transparent;
  outline: 1px solid var(--border-color);
  border: unset;

  &:focus-visible {
    outline-width: 2px;
    outline-color: var(--txt-primary);
  }
}

.autocomplete {
  z-index: 1;
  position: absolute;
  top: calc(100% + 0.5em);
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--txt-secondary);
  background-color: var(--bg-primary);
  max-height: 40svh;
  overflow: auto;
}

.autocomplete > li {
  --bg-to-hover: var(--bg-primary);
  list-style: none;
  cursor: pointer;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

