.content {
  max-width: 480px;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.stop-list {
  & > :not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.no-data {
  text-align: center;
  font-size: var(--fs-lg);
  line-height: 1.5;
  margin-block: auto;
}

button {
  border: unset;
  border-radius: 5px;
  padding: 0.25em 0.5em;
}

.TModal.TModal {
  min-width: min(90vw, 400px);
  color: var(--txt-primary);
  background-color: var(--bg-primary);
  border: solid 2px var(--border-color);
}
