.nav {
  direction: ltr;
  display: flex;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-contrast);
  border-bottom: solid 1px var(--border-color);

  & > :first-child {
    margin-inline-end: auto;
  }

  & .icon-button {
    font-size: var(--fs-xl);
    &:disabled > svg {
      pointer-events: none;
      animation: rotate infinite linear forwards 5s;
    }
  }
}

.content {
  max-width: 480px;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.stop-list {
  & > :not(:last-child) {
    margin-bottom: 0.5em;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
