.selected-stop {
  z-index: 1;
  position: absolute;
  inset: auto 0 0 0;
  font-size: var(--fs-md);
  background-color: var(--bg-secondary);
  border-radius: 10px 10px 0 0;
  translate: 0;
  animation: rise-up 300ms forwards;

  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  padding-bottom: calc(1em + 34px);
  & svg {
    font-size: 1.5em;
  }
  & > :nth-last-child(2) {
    margin-inline-start: auto;
  }
}

@keyframes rise-up {
  from {
    translate: 0 100%;
  }
  to {
    translate: 0;
  }
}
